
     
    body { 
        background: black; 
        color: white;
        margin: 0%;
        padding: 0%;
        width: auto;
        justify-content: center;
    }
    html{
        scroll-behavior: smooth;
    }
    /* ____________navigation bar____________*/
    .navbar{
        overflow: hidden;
        background-color: black;
    }
    .navbar a{list-style-type:none;
              text-decoration: none;
              color:bisque;
              padding: 30px 90px;
              font-size: 25px;
              letter-spacing: 2px;
              
              
              
            }
    .navbar ul{ 
        text-decoration:none;
        list-style-type:none;
        padding:30px;
        margin:0px;
        background-color: rgba(255, 255, 255, 0.027);
        overflow:hidden;
        text-align: center;
        
        
    }
    .navbar li{
        display:inline-block;
        color:bisque;
        
    }
    .navbar  a:hover{
        color: rgba(215, 242, 250, 0.952);
        text-shadow: 0px 0px 15px rgb(233, 169, 7);
        
    }
    .navbar li a:active{
        box-shadow: 0px 0px 15px rgba(12, 143, 204, 0.753) ;
        transform: scale(500px 50px);
    }
    .logo{
        font-size: 30px;
       padding: 0px 90px;
       cursor:pointer;
       letter-spacing: 2px;
    }
    /* ____________navigation bar end____________*/
    /*_____________homepageIMG______________*/
   
    .homepageIMG{
        
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: none;
        background-position: center;
        height: 800px;
        padding-top: 70px;
        padding-bottom: 5px;
        text-align: center;
        text-decoration: none;
        animation-name: homepageIMG ;
        background-image: url(../images/homepageIMG/sampleimage2.jpg);
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        animation-play-state: running;
        
        
    }
    @keyframes homepageIMG {
        0%{
            background-image: url(../images/homepageIMG/sampleimage1.jpg);
        }
        20%{
            background-image: url(../images/homepageIMG/sampleimage2.jpg);
        }
        40%{
            background-image: url(../images/homepageIMG/sampleimage3.jpg);
        }
        60%{
            background-image: url(../images/homepageIMG/sampleimage4.jpg);
        }
        
        
    }
    .homepageIMGtext {
        padding-top: 270px;
        padding-bottom: 250px;
        text-align: center;
        text-transform: capitalize;
        font-size: 25px;
    }
    .homepageIMGbuttons {
        padding-top: 0px;
        display: inline-block;
        list-style-type:none;
       
       

    }
    .homepageIMGbuttons button{
        margin-left: 60px;
        margin-right: 60px;
        border-width: 4px;
        border-color: rgb(248, 219, 90);
        block-size: 50px;
        background-color: rgba(52, 206, 218, 0.87);
        border-radius: 5px;
        text-align: center;
        
        text-transform: capitalize;
        color: rgb(0, 0, 0);
        text-shadow: 2px 2px 2px rgb(139, 247, 255);
       
        font-size: 21px;
        font-style: oblique;
        font-family: Georgia, 'Times New Roman', Times, serif;
        
        letter-spacing: 1.5px;
         
    }
    button:hover{
        box-shadow: 0px 0px 10px rgb(233, 169, 7);
    }
    button:active{
        transform:translatey(3px) translateX(3px);

    }
    /*_____________homepageIMG end______________*/
    /*_____________div1______________*/
    .div1 {
        
        padding: 25px;
        text-align: center;
        font-family:cursive ;
        background-image: url(../images/Patterns/pattern2.jpeg);
      
    }
    .div1 a{
        font-size: 23px;
        color: aliceblue;
        text-decoration: none;
    }
    /*_____________realestate options______________*/
    .RealEstateoptions{
        padding: 100px;
        height: 750px;
        padding-left: 200px;
        padding-right: 200px;
        align-items: center;
        background-image: url(../images/Patterns/pattern10.jpg);
        background-size: 333px;
        background-color: rgba(7, 2, 20, 0.699);
        background-blend-mode: color-dodge;
        justify-content: center;
        
    }
    .RealEstateoptionsbackground{
        background-color: rgba(240, 248, 255, 0.281);
        height:684px;
        border-radius: 5px;
        width: cover;
        
        
        
    }
    .option1:hover{
        box-shadow: 0px 0px 15px rgb(245, 198, 80);
    }
    .option1:active{
        transform:translatey(3px) translateX(3px);
    }
    .option2:hover{
        box-shadow: 0px 0px 15px rgb(245, 198, 80);
    }
    .option2:active{
        transform:translatey(3px) translateX(3px);
    }
    .option3:hover{
        box-shadow: 0px 0px 15px rgb(245, 198, 80);
    }
    .option3:active{
        transform:translatey(3px) translateX(3px);
    }
    .option4:hover{
        box-shadow: 0px 0px 15px rgb(245, 198, 80);
    }
    .option4:active{
        transform:translatey(3px) translateX(3px);
    }
    .RealEstateoptions h2{
        padding-top: 50px;
        font-size: 50px;
        margin-left: 700px;
        
    }
    .RealEstateoptions p{
        font-size: 30px;
        margin-left: 700px;
        font-size: 30px;
        padding-right: 90px;
        margin-bottom: 200px;
        float: none;
        letter-spacing: 0.5;
        line-height: 50px;
        font-family: Helvetica;
    }

    .RealEstateoptions img{
        height: 300px;
        width: 300px;

    }
    .optionsdiv1{
        float:left

    }
    .optionsdiv2{
        float:left

    }

    .option1{
        height: 300px;
        width: 300px;
        margin: 20px;
        overflow: hidden;
        border-radius: 10px;
        

    }
    .slider1{
        position: relative;
        animation-name: animation1;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        
    }

    @keyframes animation1{
        0%
        {
            bottom:0px;
        }
        12.5%{
            bottom:0px;
        }
        25%{
            bottom:300px;
        }
        37.5%{
            bottom:300px;
        }
        50%{
            bottom:605px;
        }
        62.5%{
            bottom: 605px;
        }
        75%{
            bottom: 908px;
        }
        87.5%{
            bottom: 908px;
        }
        100%{
            bottom: 0px;
        }
    }

    .slider2{
        position: relative;
        animation-name: animation2;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-delay: 3s;
        
    }

    @keyframes animation2{
        0%
        {
            bottom:0px;
        }
        12.5%{
            bottom:0px;
        }
        25%{
            bottom:300px;
        }
        37.5%{
            bottom:300px;
        }
        50%{
            bottom:605px;
        }
        62.5%{
            bottom: 605px;
        }
        75%{
            bottom: 908px;
        }
        87.5%{
            bottom: 908px;
        }
        100%{
            bottom: 0px;
        }
    }

    .option2{
        height: 300px;
        width: 300px;
        margin: 20px;
        margin-top: 40px;
        overflow: hidden;
        border-radius: 10px;

    }
    .innerslider2{
        float: left;
    }
    .option2 img{
        display: inline-block;
    }
    .option3{
        height: 300px;
        width: 300px;
        margin: 20px;
        overflow: hidden;
        border-radius: 10px;

    }
    .option4{
        height: 300px;
        width: 300px;
        margin: 20px;
        margin-top: 40px;
        overflow: hidden;
        border-radius: 10px;

    }
/*_____________realestate options end______________*/


    .div2{
        padding: 45px;
        text-align: center;
        font-family:cursive ;
        background-image: url(../images/Patterns/pattern3.jpeg);
        background-size: 150px;
        background-blend-mode:color-dodge;
        height: 100%;
        background-color: rgba(3, 3, 107, 0.486);

    }
    .div2 a{
        font-size: 26px;
        -webkit-text-stroke: 0.2px;
        color: aliceblue;
        text-decoration: none;
        
        
    }


     /*_____________citys______________*/


    .citys{
        height: 800px;

    }
     /*_____________citys end______________*/


    .div3{
        padding: 45px;
        text-align: center;
        font-family:cursive ;
        background-image: url(../images/Patterns/pattern11.jpg);
        background-size: 700px;
        
        height: 100%;
    }
    .div3 a{
        font-size: 26px;
        -webkit-text-stroke: 0.2px;
        color: aliceblue;
        text-decoration: none;
    }

/*_____________articals______________*/


    .articals{
        height: 700px;
        padding-top: 90px;
        padding-bottom: 90px;
        padding-left: 290px;
        padding-right: 290px;
        background-image: url(../images/Patterns/pattern10.jpg);
        background-color: rgba(34, 2, 2, 0.637);
        background-blend-mode: color-dodge;
    }
    .articaldiv{
        background-color: rgba(240, 248, 255, 0.226);
        height: 600px;
    }
    .articals ul{
        float: left;
        margin:10px
        
    }
    .articals h2{
        padding-top: 50px;
        font-size: 50px;
        margin-left: 700px;

    }
    .pa1{
        font-size: 30px;
        margin-left: 700px;
        font-size: 30px;
        
        padding-right: 90px;
        
        
        margin-bottom: 200px;
        float: none;
        letter-spacing: 0.5;
        line-height: 50px;
        font-family: Helvetica;
    }
    .articals li{
        padding:100px;
        background-color: azure;
        border-radius: 15px;
        list-style: none;
        
        
    }
    .artical1{
        margin-left: 30px;
        margin-top: 40px;
        margin-bottom: 50px;
        text-decoration: none;
    }
    .artical2{
        margin-left: 30px;
        text-decoration: none;
    }
    .artical3{
        margin-bottom: 50px;
        margin-top: 40px;
        text-decoration: none;

    }
    .more{
        
        text-decoration: none;
    }
    .articals a{
        text-decoration: none;
    }
    /*_____________articals end______________*/
    /*_____________footer______________*/
    .footer{
        font-size: 30px;
    }

/*_______________styling for homepage end_______________*/

/*_________________property valuation page___________________*/


.pv-div1{
    text-align: center;
    height: 150px;
    margin-top: 110px;
    background-color: rgba(240, 248, 255, 0.171);
    
}
.pv-div1 a{
    color: aliceblue;
    text-decoration: none;
    font-size: 39px;
    

}
.pv-div1 h1{
    padding: 52px;
}


/*_________________property valuation page end___________________*/


/*_________________login page___________________*/

.loginbackground{
    background-color: rgba(8, 8, 10, 0.822);
    min-height: auto;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 120px;
    margin-bottom: 120px;
    padding: 80px;
    text-align: center;
}
.loginbackground h1{
    
    font-size: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;

    
}
.loginbackground h1:hover{

    cursor: pointer;

}
.loginbackground2{
    background-color: rgb(2, 8, 10);
    padding: 10px;
    border-radius: 9px;
}
.loginbody{
    background-image: url(../images/Patterns/pattern18.jpg);
    background-size: 500px;

}
.loginbackground3{
    height: 343px;
    background-color: rgba(250, 251, 255, 0);
    justify-content: center;
    margin-bottom: 0px;
    margin-top: 80px;
    border-radius: 9px;
    
    
}
.loginFormDiv1{
    margin: 110px 0px 70px 0px;
    background-color: rgba(245, 246, 247, 0);
    
    
    
    
    
}
.loginFormDiv2{
    margin-left: 40px;
    margin-bottom: 50px;
    background-color: rgba(245, 246, 247, 0);

    
}
.loginFormDiv2 img{
    margin-left: 2px;
    width: 40px;
    
}

.loginInput{
    padding:  10px 0px 5px 10px;
    margin: 0px 0px 0px 0px;
    
    font-size: 35px;
}
.loginbackground button{
    padding:5px 70px ;
    border-radius: 15px;
    color: #ffffffd3;
    font-size: 26px;
    font-family: 'Gill Sans', ;
    background-size: 690px;
    
    background-color: #35588b80;


}
.loginbackground a{
    color:aliceblue;
    font-size: 27px;
    text-decoration: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

/*_________________login page end___________________*/
/*_________________signup page ___________________*/

.signupbackground{
    background-color: rgba(8, 8, 10, 0.822);
    min-height: auto;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 120px;
    margin-bottom: 120px;
    padding: 80px;
    text-align: center;
}
.signupbackground p{
    margin: 70px;
}
.signupbackground h1{
    
    font-size: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;

    
}
.signupbackground h1:hover{

    cursor: pointer;

}
.signupbackground2{
    background-color: rgb(2, 8, 10);
    padding: 10px;
    border-radius: 9px;
}
.signupBody{
    background-image: url(../images/Patterns/pattern18.jpg);
    background-size: 500px;

}
.signupbackground3{
    height: 343px;
    background-color: rgba(250, 251, 255, 0);
    
    margin-bottom: 0px;
    margin-top: 80px;
    border-radius: 9px;
    
    
}
.signupFormDiv1{
    margin: 90px 0px 50px 0px;
}
.signupFormDiv2{
    margin: 0px;
    margin-bottom: 50px;
    
}

.signupFormDiv3{
    margin-bottom: 50px;

}
.signupFormDiv3 img{
    margin-left: 2px;
    width: 40px;
    
}

.signupInput{
    padding:  10px 50px 5px 10px;
    border-radius: 10px;
    font-size: 35px;
}
.signupInput2{
    padding:  10px 50px 5px 10px;
    border-radius: 10px;
    margin-right: 40px;
    font-size: 35px;
}

.signupInput3{
    padding:  10px 50px 5px 10px;
    border-radius: 10px;
    margin-left: 40px;
    font-size: 35px;
}


.signupbackground button{
    padding:5px 70px ;
    border-radius: 15px;
    color: #ffffffd3;
    font-size: 26px;
    font-family: 'Gill Sans', ;
    background-size: 690px;
    
    background-color: #35588b80;

}
.signupbackground a{
    color:aliceblue;
    font-size: 27px;
    text-decoration: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

/*_________________signup page end___________________*/

/*_________________profile page___________________*/
.profileBody{
    background-image: url(../images/homepageIMG/sampleimage8.jpg);
    background-size: cover;
    background-position:right;
    background-color: rgba(11, 10, 99, 0.26);
    background-blend-mode: color-dodge;
    background-repeat: no-repeat;
    height: 2000px;
}
.profileNavdiv{
    display: flex;
    background-color: rgba(107, 113, 117, 0.973);
    padding: 0px 0px;
    height: 100px;
    margin-top: 0px;
    width: auto;  
}
.profileNavdiv h2{
    padding: 0px 0px 0px 30px;
    font-size: 40px;
    font-family: Helvetica;
    margin: 25px;
    letter-spacing: 1px;

}
.profileButtons {
    display: block;
    
    padding:10px  10px 10px 100px;
    margin: 20px;
    background-image: url(../images/Patterns/pattern10.jpg);
    

}
.profileButtons button{
    padding: 3px 40px;
    color: #3014af;
    font-size: 20px;
    background-color: #f3d31f;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.profileButtons h3{
    margin: 0px;
    margin:  0px 0px;
    display: inline-block;
    font-size: 30px;
    
}
.profileName{
    width: 1200px;
    display: inline-block;
    text-align: center;
}

.profileDetails{
    height: 800px;
    background-color: rgba(205, 215, 223, 0.849);
    margin: 30px 400px;

}
.profileYourFavorite{
    height: 800px;
    background-color: rgba(205, 215, 223, 0.849);
    margin: 30px 400px;

}
.profileYourPurchase{
    height: 800px;
    background-color: rgba(205, 215, 223, 0.849);
    margin: 30px 400px;

}