<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RealEstate Website</title>
    <link rel="stylesheet" href="css/style.css"> 
    <style>
      h1{
        color: black;
        text-align: center;
        font-size: 50px;
        background-color: rgba(8, 8, 53, 0.432);
        margin-top: 100px;
        padding: 30px;
      }

    </style>

</head>

<body class="loginbody" id="loginbody">
    <header>
        <div class="navdiv">
            <nav class="navbar">
                <ul>
                  <li><a href="../../FrontEnd/index.html"> Home</a></li>
                  <li><a href="../../FrontEnd/search.html"> Search</a></li>
                  <li class="logo">Global RealEstate</li>
                  <li><a href="../../FrontEnd/about.html"> About</a></li>
                  <li><a href="localhost:3002"> Profile</a></li>
                </ul>
            </nav>
        </div>
        
    </header>
    <h1>Product page is only accessed when you login</h1>
</body>